* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    align-self: center;
}

#rotate {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid rgb(160, 75, 65);
    border-bottom: transparent;
    animation: rotate 1.1s ease-in-out infinite;
    margin-top: 10px;
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(69deg);
    }

    60% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.button {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    background-color: rgb(13, 209, 72);
}